h1.section-title {
    margin-bottom: 50px;
}

tr:hover {
	cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 0 0;
}

th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

table th input {
	background-color: transparent;
	height: 40px;
	border: none;
	border-bottom: 2px solid #fff;
	width: 100%;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

table td div {
	height: 40px;
	width: 55px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.new-formula-content {
	/*centraliza o botao*/
	display: table;
	margin: 0 auto;
}

section {
	margin: 50px;
}

/* follow me template */

.made-with-love {
	margin-top: 40px;
	padding: 10px;
	clear: left;
	text-align: center;
	font-size: 10px;
	font-family: arial;
	color: #fff;
}

.made-with-love i {
	font-style: normal;
	color: #F50057;
	font-size: 14px;
	position: relative;
	top: 2px;
}

.made-with-love a {
	color: #fff;
	text-decoration: none;
}

.made-with-love a:hover {
	text-decoration: underline;
}