@font-face {
	font-family: Maven Pro Black;
	src: url('../fonts/mavenpro-black.ttf');
}

@font-face {
	font-family: Maven Pro Bold;
	src: url('../fonts/mavenpro-bold.ttf');
}

@font-face {
	font-family: Maven Pro Medium;
	src: url('../fonts/mavenpro-medium.ttf');
}

@font-face {
	font-family: Maven Pro Regular;
	src: url('../fonts/mavenpro-regular.ttf');
}


/**************************************TABELA ESPECIAL***************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
	/* background: linear-gradient(to right, #000, #25b7c4); */
	background-image: linear-gradient(to right bottom, #0d6a72, #137d86, #19909a, #1fa3af, #25b7c4);
	font-family: 'Maven Pro Bold', sans-serif;
	min-height: calc(100vh - 50px);
}

h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header {
	background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 10px 0 0;
}

.tbl-header th:last-child:hover {
    border-radius: 0 10px 0 0;
}

.tbl-content {
	height: 300px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.tbl-content tr:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

input {
	font-family: 'Maven Pro Bold', sans-serif;
}

input:focus {
	outline: none;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Maven Pro Bold', sans-serif;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	/* background-image: linear-gradient(to bottom, #1fa3af, #20a8b4, #22adb9, #23b2bf, #25b7c4); */
	background: #F1F1F1;
	margin-right: 2px;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 1);
	background: #aaa;
	border-radius: 10px;
}

.remove-formula-button {
    background-color: transparent;
    border: none;
    font-size: 22px;
    color: #fff;
    outline: none;
}

.new-formula-button:hover,
.remove-formula-button:hover {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.new-formula-button {
	background-color: transparent;
	height: 60px;
	width: 240px;
	border: solid 2px;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 20px;
}
